Repository afgalvan/programmingII-finalProject, changes with the labels that .github/labeler.yml gives for each.
All labels: models, views, controllers, tests, CI, documentation, core

Use lombok library for less verbosity
  .idea/compiler.xml
  build.dockerfile
  final_project.iml
  lib/jackson-annotations-2.12.2.jar
  lib/jackson-core-2.12.2.jar
  lib/jackson-databind-2.12.2.jar
  lib/lombok.jar
  lib/nblibraries.properties
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  package.json
  src/app/controllers/Location.java
  src/app/controllers/api/Json.java
  src/app/controllers/api/locations.json
  src/app/main/Main.java
  src/app/models/Entity.java
  src/test/TestSuite.java
  src/test/controllers/LocationTest.java
  src/test/controllers/api/JsonTest.java
  src/test/models/EntityTest.java
Labels: models, controllers, tests, CI, core

Format Code
  src/app/controllers/Location.java
  src/app/controllers/api/Json.java
  src/app/controllers/api/locations.json
  src/app/models/Entity.java
  src/test/controllers/LocationTest.java
  src/test/controllers/api/JsonTest.java
Labels: models, controllers, tests

Suites for each test package
  lib/nblibraries.properties
  nbproject/genfiles.properties
  nbproject/project.properties
  src/test/TestSuite.java
  src/test/controllers/ControllerSuite.java
  src/test/models/ModelSuite.java
Labels: models, controllers, tests

Format Code
  src/test/TestSuite.java
  src/test/controllers/ControllerSuite.java
  src/test/models/ModelSuite.java
Labels: models, controllers, tests

DocTypes models
  docs/diagram.mdj
  src/app/main/Main.java
  src/app/models/document/types/DocType.java
  src/app/models/document/types/HabeasCorpusDocType.java
  src/app/models/document/types/PenalDocType.java
  src/app/models/document/types/TutelageDocType.java
Labels: models, documentation, core

Fix typo
  src/app/main/Main.java
Labels: core

uml correction
  docs/diagram.mdj
  final_project.iml
Labels: documentation

Remove unused libraries
  docs/img/Models.jpg
  lib/nblibraries.properties
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
Labels: documentation

Add the contents DocTypes models
  src/app/models/document/types/DocType.java
  src/app/models/document/types/HabeasCorpusDocType.java
  src/app/models/document/types/PenalDocType.java
  src/app/models/document/types/TutelageDocType.java
Labels: models

uml
  docs/diagram.mdj
Labels: documentation

Fix codeQL
  .github/workflows/codeql.yml
Labels: CI

.github/labeler.yml:

---
models: src/**/models/**
views: src/**/views/**
controllers: src/**/controllers/**
tests: src/test/**
CI:
  - .github/workflows/**
  - ./*.yml
  - ./*.dockerfile
documentation:
  - ./*.md
  - docs/*
  - docs/**/*
core: src/app/main/**
