Repository afgalvan/programmingII-finalProject, pull requests merged in 2021-04, with the labels that each got.

#56 Test database and improve layers
  .prettierignore
  build.dockerfile
  docker-compose.yml
  final_project.iml
  lib/flatlaf-1.1.1.jar
  nbproject/project.properties
  src/app/controllers/LoginController.java
  src/app/controllers/UserController.java
  src/app/controllers/api/LocationApi.java
  src/app/database/ConnectionManager.java
  src/app/database/DBConnection.java
  src/app/database/DBRepository.java
  src/app/database/Repository.java
  src/app/database/UserRepository.java
  src/app/database/database.sqlite
  src/app/database/tables.sql
  src/app/main/Main.java
  src/app/models/NoteBook.java
  src/app/models/ProceedingsMetadata.java
  src/app/services/Insert.java
  src/app/services/Response.java
  src/app/services/Service.java
  src/app/services/UserService.java
  src/app/views/ProcessView.java
  src/app/views/View.java
  src/test/TestSuite.java
  src/test/controllers/UserControllerTest.java
  src/test/database/ConnectionTest.java
  src/test/database/DBAccessTest.java
  src/test/database/DBUserTest.java
  src/test/database/DatabaseSuite.java
  src/test/database/UserRepositoryTest.java
  src/test/database/test.sqlite
  src/test/services/ServiceSuite.java
  src/test/services/UserServiceTest.java
Labels: controllers, core, models, tests

#57 Test database and improve layers
  .prettierignore
  build.dockerfile
  docker-compose.yml
  final_project.iml
  lib/flatlaf-1.1.1.jar
  nbproject/project.properties
  src/app/controllers/LoginController.java
  src/app/controllers/UserController.java
  src/app/controllers/api/LocationApi.java
  src/app/database/ConnectionManager.java
  src/app/database/DBConnection.java
  src/app/database/DBRepository.java
  src/app/database/Repository.java
  src/app/database/UserRepository.java
  src/app/database/database.sqlite
  src/app/database/tables.sql
  src/app/main/Main.java
  src/app/models/NoteBook.java
  src/app/models/ProceedingsMetadata.java
  src/app/services/Insert.java
  src/app/services/Response.java
  src/app/services/Service.java
  src/app/services/UserService.java
  src/app/views/ProcessView.java
  src/app/views/View.java
  src/test/TestSuite.java
  src/test/controllers/UserControllerTest.java
  src/test/database/ConnectionTest.java
  src/test/database/DBAccessTest.java
  src/test/database/DBUserTest.java
  src/test/database/DatabaseSuite.java
  src/test/database/UserRepositoryTest.java
  src/test/database/test.sqlite
  src/test/services/ServiceSuite.java
  src/test/services/UserServiceTest.java
Labels: controllers, core, models, tests

#58 Create a basic UI for the login and improve database
  .github/workflows/codeql.yml
  build.dockerfile
  final_project.iml
  lib/RojeruSan.jar
  nbproject/project.properties
  package.json
  src/app/controllers/LoginController.java
  src/app/controllers/UserController.java
  src/app/database/Repository.java
  src/app/database/UserRepository.java
  src/app/database/database.sqlite
  src/app/database/tables.sql
  src/app/main/Main.java
  src/app/models/DialogResponse.java
  src/app/models/NoteBook.java
  src/app/models/ProceedingsMetadata.java
  src/app/services/Response.java
  src/app/services/Service.java
  src/app/services/UserService.java
  src/app/views/ColorPalette.java
  src/app/views/GraphicalInteraction.java
  src/app/views/ProcessView.java
  src/app/views/View.java
  src/app/views/Window.java
  src/app/views/assets/UPC.png
  src/app/views/assets/council.jpg
  src/app/views/assets/pass.png
  src/app/views/assets/user.png
  src/app/views/login/LoginDialog.java
  src/app/views/login/LoginLayout.java
  src/app/views/login/LoginView.java
  src/test/database/UserRepositoryTest.java
  src/test/main/MainTest.java
  src/test/services/UserServiceTest.java
Labels: CI, controllers, core, models, tests, views

#61 Document code base close #54
  .idea/.gitignore
  .idea/checkstyle-idea.xml
  .idea/modules.xml
  build.xml
  final_project.iml
  lib/nblibraries.properties
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  package.json
  src/app/controllers/LoginController.java
  src/app/controllers/UserController.java
  src/app/controllers/api/JsonUtils.java
  src/app/controllers/api/LocationApi.java
  src/app/controllers/document/types/DocType.java
  src/app/controllers/document/types/HabeasCorpusDocType.java
  src/app/controllers/document/types/PenalDocType.java
  src/app/controllers/document/types/TutelageDocType.java
  src/app/database/ConnectionManager.java
  src/app/database/UserRepository.java
  src/app/database/database.sqlite
  src/app/models/NoteBook.java
  src/app/models/ProceedingsMetadata.java
  src/app/models/proceedings/ExtraData.java
  src/app/models/proceedings/PageData.java
  src/app/models/proceedings/ProceedingsDate.java
  src/app/models/proceedings/ProceedingsMetadata.java
  src/app/services/UserService.java
  src/app/views/ColorPalette.java
  src/app/views/View.java
  src/app/views/Window.java
  src/app/views/login/LoginLayout.java
  src/test/main/MainTest.java
Labels: controllers, documentation, models, views

#62 Add test for controllers and services.
  .github/labeler.yml
  src/app/controllers/UserController.java
  src/app/database/database.sqlite
  src/app/models/Entity.java
  src/app/services/Response.java
  src/app/services/UserService.java
  src/test/Order.java
  src/test/OrderedRunner.java
  src/test/controllers/ControllerSuite.java
  src/test/controllers/UserControllerTest.java
  src/test/services/UserServiceTest.java
Labels: controllers, models, services, tests

#67 Fix some style errors.
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/greetings.yml
  .github/workflows/java.yml
  .github/workflows/label.yml
  .github/workflows/merge-bot.yml
  .github/workflows/style.yml
  .idea/jsLibraryMappings.xml
  .idea/modules.xml
  .prettierignore
  FinalProject.iml
  build.dockerfile
  build.xml
  docker-compose.yml
  lib/nblibraries.properties
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  package.json
  src/app/controllers/UserController.java
  src/app/database/Repository.java
  src/app/database/UserRepository.java
  src/app/database/database.sqlite
  src/app/services/Service.java
  src/app/services/UserService.java
Labels: CI, code style

#70 refactor: change models structure
  .circleci/config.yml
  .circleci/java.ps1
  .idea/inspectionProfiles/Project_Default.xml
  .travis.yml
  diagram.mdj
  src/app/controllers/DialogResponse.java
  src/app/controllers/LoginController.java
  src/app/controllers/UserController.java
  src/app/database/UserRepository.java
  src/app/database/database.sqlite
  src/app/models/DialogResponse.java
  src/app/models/Notebook.java
  src/app/models/Process.java
  src/app/models/ValueObject.java
  src/app/models/proceedings/ExtraData.java
  src/app/models/proceedings/PageData.java
  src/app/models/proceedings/ProceedingsDate.java
  src/app/models/records/DocumentType.java
  src/app/models/records/JudicialOffice.java
  src/app/models/records/Location.java
  src/app/models/records/RecordMetadata.java
  src/app/models/records/Series.java
  src/app/models/records/SubSeries.java
  src/app/models/records/parts/IdTypes.java
  src/app/models/records/parts/JuridicPerson.java
  src/app/models/records/parts/NaturalPerson.java
  src/app/models/records/parts/Person.java
  src/app/models/records/parts/StateEntity.java
  src/app/models/users/Coordinator.java
  src/app/models/users/Guest.java
  src/app/models/users/SuperUser.java
  src/app/models/users/User.java
  src/app/services/Service.java
  src/app/services/ServiceResponse.java
  src/app/services/UserService.java
  src/app/views/login/LoginDialog.java
  src/app/views/login/LoginView.java
  src/test/OrderedRunner.java
  src/test/controllers/UserControllerTest.java
  src/test/database/UserRepositoryTest.java
  src/test/services/UserServiceTest.java
Labels: controllers, models, services, tests, views

#75 guava library
  .all-contributorsrc
  .github/workflows/style.yml
  FinalProject.iml
  README.md
  docker-compose.yml
  docs/img/Models.jpg
  lib/guava-30.1.1-jre.jar
  lib/nblibraries.properties
  nbproject/genfiles.properties
  nbproject/project.properties
  src/app/database/database.sqlite
  src/app/views/assets/council.jpg
Labels: documentation, views
