Repository afgalvan/programmingII-finalProject, pull requests merged in 2021-05, with the labels that each got.

#77 Traduction xD
  FinalProject.iml
  src/app/models/Notebook.java
  src/app/models/Process.java
  src/app/models/proceedings/ProceedingsDate.java
  src/app/models/proceedings/ProceedingsExtraData.java
  src/app/models/proceedings/ProceedingsMetadata.java
  src/app/models/proceedings/ProceedingsPageData.java
  src/app/models/records/DocumentType.java
  src/app/models/records/JudicialOffice.java
  src/app/models/records/Location.java
  src/app/models/records/RecordMetadata.java
  src/app/models/records/Series.java
  src/app/models/records/SubSeries.java
  src/app/models/records/parts/IdTypes.java
  src/app/models/records/parts/JuridicPerson.java
  src/app/models/records/parts/NaturalPerson.java
  src/app/models/records/parts/Person.java
  src/app/models/records/parts/StateEntity.java
  src/app/models/users/Coordinator.java
  src/app/models/users/Guest.java
  src/app/models/users/SuperUser.java
  src/app/models/users/User.java
Labels: models

#90 Improve files management
  .idea/dataSources.xml
  diagram.mdj
  src/app/controllers/AuthController.java
  src/app/controllers/Controller.java
  src/app/controllers/ProcessController.java
  src/app/database/.gitignore
  src/app/database/ConnectionManager.java
  src/app/database/FileConnection.java
  src/app/database/FileConnectionManager.java
  src/app/database/FileManagement.java
  src/app/database/FileManager.java
  src/app/database/FileOrchestrator.java
  src/app/database/Process.obj
  src/app/database/ProcessFileManager.java
  src/app/database/database.sqlite
  src/app/models/Notebook.java
  src/app/models/Process.java
  src/app/models/Session.java
  src/app/repositories/IProcessRepository.java
  src/app/repositories/ProcessRepository.java
  src/app/services/IProcessService.java
  src/app/services/ProcessService.java
  src/app/view/AddProcessMenu.java
  src/app/view/DocumentRegister.java
  src/app/view/DocumentTable.java
  src/app/view/EnquiryMenu.java
  src/app/view/LoginMenu.java
  src/app/view/ProcessMenu.java
  src/app/view/ProcessMetadataRegister.java
  src/app/view/UserSubOptionMenu.java
  src/test/controllers/AuthControllerTest.java
  src/test/database/test.sqlite
  src/test/services/ProcessServiceTest.java
Labels: controllers, models, services, tests

#91 Merge pull request #89 from afgalvan/main
  .idea/dataSources.xml
  .idea/vcs.xml
  Process.obj
  diagram.mdj
  src/app/controllers/AuthController.java
  src/app/controllers/Controller.java
  src/app/controllers/ProcessController.java
  src/app/controllers/UserController.java
  src/app/controllers/ViewController.java
  src/app/database/.gitignore
  src/app/database/ConnectionManager.java
  src/app/database/FileConnection.java
  src/app/database/FileConnectionManager.java
  src/app/database/FileManagement.java
  src/app/database/FileManager.java
  src/app/database/ProcessDatabase.java
  src/app/database/database.sqlite
  src/app/models/Notebook.java
  src/app/models/Process.java
  src/app/models/Rowable.java
  src/app/models/Session.java
  src/app/models/annotations/Testable.java
  src/app/models/documents/Document.java
  src/app/models/metadata/JudicialOffice.java
  src/app/models/metadata/Location.java
  src/app/models/metadata/ProcessMetadata.java
  src/app/models/metadata/parts/NaturalPerson.java
  src/app/repositories/IProcessRepository.java
  src/app/repositories/ProcessRepository.java
  src/app/repositories/Repository.java
  src/app/repositories/UserRepository.java
  src/app/services/IProcessService.java
  src/app/services/ProcessService.java
  src/app/services/Service.java
  src/app/services/UserService.java
  src/app/view/AddProcessMenu.java
  src/app/view/DocumentRegister.java
  src/app/view/DocumentTable.java
  src/app/view/EnquiryMenu.java
  src/app/view/LoginMenu.java
  src/app/view/ProcessMenu.java
  src/app/view/ProcessMetadataRegister.java
  src/app/view/ProcessMetadataTable.java
  src/app/view/Table.java
  src/app/view/Tries.java
  src/app/view/UserSubOptionMenu.java
  src/app/view/View.java
  src/test/OrderedRunner.java
  src/test/controllers/AuthControllerTest.java
  src/test/database/UserRepositoryTest.java
  src/test/database/test.sqlite
  src/test/main/MainTest.java
  src/test/models/ModelSuite.java
  src/test/models/RowableTest.java
  src/test/services/ProcessServiceTest.java
  src/test/services/ServiceSuite.java
  src/test/services/UserServiceTest.java
Labels: controllers, models, services, tests

#93 Use controllers with singleton
  .github/workflows/codeql.yml
  .github/workflows/java.yml
  .github/workflows/style.yml
  .idea/dataSources.xml
  diagram.mdj
  src/app/controllers/AuthController.java
  src/app/controllers/LocationController.java
  src/app/controllers/ProcessController.java
  src/app/controllers/TableController.java
  src/app/controllers/UserController.java
  src/app/controllers/security/Hasher.java
  src/app/database/ConnectionManager.java
  src/app/database/DBConnection.java
  src/app/database/DBConnectionManager.java
  src/app/database/FileConnection.java
  src/app/database/FileConnectionManager.java
  src/app/database/FileManager.java
  src/app/database/database.sqlite
  src/app/database/tables.sql
  src/app/exceptions/InputFileException.java
  src/app/models/Response.java
  src/app/models/users/User.java
  src/app/models/users/UserType.java
  src/app/repositories/UserRepository.java
  src/app/services/IProcessService.java
  src/app/services/ProcessService.java
  src/app/services/Service.java
  src/app/services/ServiceResponse.java
  src/app/services/UserService.java
  src/app/view/EnquiryMenu.java
  src/app/view/ProcessMenu.java
  src/app/view/ProcessMetadataRegister.java
  src/app/view/TableBuilder.java
  src/app/view/UserSubOptionMenu.java
  src/test/controllers/AuthControllerTest.java
  src/test/controllers/UserControllerTest.java
  src/test/database/ConnectionTest.java
  src/test/database/UserRepositoryTest.java
  src/test/database/test.sqlite
  src/test/services/ProcessServiceTest.java
  src/test/services/UserServiceTest.java
Labels: CI, controllers, models, services, tests

#97 Fix actions, using v2.3.3
  .github/workflows/codeql.yml
  .github/workflows/java.yml
  .github/workflows/style.yml
  src/app/database/database.sqlite
  src/app/models/Process.java
  src/app/repositories/ProcessRepository.java
  src/test/database/test.sqlite
Labels: CI, models, tests

#96 Use singleton for controllers
  .github/workflows/codeql.yml
  .github/workflows/java.yml
  .github/workflows/style.yml
  .idea/dataSources.xml
  diagram.mdj
  src/app/controllers/AuthController.java
  src/app/controllers/LocationController.java
  src/app/controllers/ProcessController.java
  src/app/controllers/TableController.java
  src/app/controllers/UserController.java
  src/app/controllers/security/Hasher.java
  src/app/database/ConnectionManager.java
  src/app/database/DBConnection.java
  src/app/database/DBConnectionManager.java
  src/app/database/FileConnection.java
  src/app/database/FileConnectionManager.java
  src/app/database/FileManager.java
  src/app/database/database.sqlite
  src/app/database/tables.sql
  src/app/exceptions/InputFileException.java
  src/app/models/Process.java
  src/app/models/Response.java
  src/app/models/users/User.java
  src/app/models/users/UserType.java
  src/app/repositories/ProcessRepository.java
  src/app/repositories/UserRepository.java
  src/app/services/IProcessService.java
  src/app/services/ProcessService.java
  src/app/services/Service.java
  src/app/services/ServiceResponse.java
  src/app/services/UserService.java
  src/app/view/EnquiryMenu.java
  src/app/view/ProcessMenu.java
  src/app/view/ProcessMetadataRegister.java
  src/app/view/TableBuilder.java
  src/app/view/UserSubOptionMenu.java
  src/test/controllers/AuthControllerTest.java
  src/test/controllers/UserControllerTest.java
  src/test/database/ConnectionTest.java
  src/test/database/UserRepositoryTest.java
  src/test/database/test.sqlite
  src/test/services/ProcessServiceTest.java
  src/test/services/UserServiceTest.java
Labels: CI, controllers, models, services, tests
