Repository afgalvan/programmingII-finalProject, pull requests merged in 2021-03, with the labels that each got.

#1 Try autolabels
  .all-contributorsrc
  .github/labeler.yml
  .github/workflows/label.yml
  README.md
Labels: CI

#9 Add some project needed files for its structure.
  .all-contributorsrc
  .github/labeler.yml
  .github/workflows/label.yml
  Dockerfile
  README.md
  docs/proyecto_aula.pdf
  run
  run.bat
  run.ps1
  src/edu/unicesar/programming2/group01/classroom/project/main/Main.java
Labels: CI, enhancement

#12 Add button for forgot password (sample)
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/bug_report.md
  src/edu/unicesar/programming2/group01/classroom/project/main/Main.java
Labels: enhancement

#13 Fix spaces in readme
  .github/workflows/gradle.yml
  README.md
  docker-compose.yml
  run.sh
  src/edu/unicesar/programming2/group01/classroom/project/main/Main.java
Labels: CI, documentation

#15 Add linter action for code style
  .all-contributorsrc
  .ecrc
  .editorconfig
  .github/linters/sun_checks.xml
  .github/workflows/gradle.yml
  .github/workflows/linter.yml
  .gitignore
  .idea/checkstyle-idea.xml
  README.md
  final_project.iml
  package.json
  run.ps1
  yarn.lock
Labels: CI

#16 fix all-contributors file
  .all-contributorsrc
Labels: code style, documentation

#19 Try to add codacy bot.
  README.md
Labels: CI, code style

#22 Build code in actions with docker-compose
  .github/workflows/gradle.yml
  .github/workflows/java.yml
  .idea/.gitignore
  .travis.yml
Labels: CI, test

#23 Add codeQL
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/greetings.yml
  .github/workflows/java.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
  .github/workflows/merge-bot.yml
  .github/workflows/style.yml
  .travis.yml
  Dockerfile
  README.md
  build.xml
  docker-compose.yml
  final_project.iml
  lib/.gitignore
  lib/hamcrest-core-1.3.jar
  lib/junit-4.12.jar
  lib/junit_4/junit-4.12-javadoc.jar
  lib/junit_4/junit-4.12-sources.jar
  lib/junit_4/junit-4.12.jar
  lib/nblibraries.properties
  manifest.mf
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  package.json
  run.bat
  run.ps1
  run.sh
  src/app/main/Main.java
  src/edu/unicesar/programming2/group01/classroom/project/main/Main.java
  src/test/main/MainTest.java
  yarn.lock
Labels: CI, code style, test

#28 pr test
  src/app/main/Main.java
Labels: good first issue

#26 pr-sample
  .github/workflows/java.yml
  .github/workflows/style.yml
  README.md
  src/app/main/Main.java
Labels: CI, tests

#29 Migrate test to kotlin
  .idea/kotlinc.xml
  build.xml
  final_project.iml
  lib/junit_4/junit-4.12-javadoc.jar
  lib/junit_4/junit-4.12-sources.jar
  lib/junit_4/junit-4.12.jar
  lib/kotlin-reflect.jar
  lib/kotlin-stdlib-jdk7.jar
  lib/kotlin-stdlib-jdk8.jar
  lib/kotlin-stdlib.jar
  lib/kotlin-test.jar
  lib/nblibraries.properties
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  package.json
  src/test/main/MainTest.java
  src/test/main/MainTest.kt
Labels: CI, test

#31 Migrate tests to kotlin
  .github/labeler.yml
  .idea/kotlinc.xml
  build.xml
  final_project.iml
  lib/junit_4/junit-4.12-javadoc.jar
  lib/junit_4/junit-4.12-sources.jar
  lib/junit_4/junit-4.12.jar
  lib/kotlin-reflect.jar
  lib/kotlin-stdlib-jdk7.jar
  lib/kotlin-stdlib-jdk8.jar
  lib/kotlin-stdlib.jar
  lib/kotlin-test.jar
  lib/nblibraries.properties
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  package.json
  src/test/main/MainTest.java
  src/test/main/MainTest.kt
Labels: CI, design, tests

#32 Fix CI
  .github/workflows/java.yml
  .github/workflows/style.yml
  lib/nblibraries.properties
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  package.json
Labels: CI

#35 Build and run tests with docker for a better speed
  .travis.yml
  docker-compose.yml
  main.dockerfile
  tests.dockerfile
Labels: CI, tests

#36 Run tests with docker
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/greetings.yml
  .github/workflows/java.yml
  .github/workflows/label.yml
  .github/workflows/merge-bot.yml
  .github/workflows/style.yml
  .idea/.gitignore
  .idea/vcs.xml
  .travis.yml
  docker-compose.yml
  main.dockerfile
  package.json
  src/app/models/Entity.java
  src/test/main/MainTest.kt
  tests.dockerfile
Labels: CI, models, tests

#37 Migrate back tests to Java
  .github/labeler.yml
  .github/workflows/java.yml
  .github/workflows/style.yml
  .travis.yml
  build.dockerfile
  docker-compose.yml
  main.dockerfile
  package.json
  src/app/main/Main.java
  src/test/main/MainTest.java
  src/test/main/MainTest.kt
  src/test/main/SuiteTest.java
  src/test/models/EntityTest.java
  tests.dockerfile
Labels: CI, core, models, tests

#38 Uml updates
  docs/diagram.mdj
  final_project.iml
Labels: documentation

#39 Parcially finished uml diagram closes #5
  docs/diagram.mdj
Labels: MVP, core, design, documentation

#40 UML diagram finished
  .github/labeler.yml
  .github/workflows/codeql.yml
  .idea/compiler.xml
  .idea/kotlinc.xml
  build.dockerfile
  docs/diagram.mdj
  docs/img/Models.jpg
  final_project.iml
  lib/jackson-annotations-2.12.2.jar
  lib/jackson-core-2.12.2.jar
  lib/jackson-databind-2.12.2.jar
  lib/kotlin-reflect.jar
  lib/kotlin-stdlib-jdk7.jar
  lib/kotlin-stdlib-jdk8.jar
  lib/kotlin-stdlib.jar
  lib/kotlin-test.jar
  lib/lombok.jar
  lib/nblibraries.properties
  nbproject/genfiles.properties
  nbproject/project.properties
  package.json
  src/app/controllers/Location.java
  src/app/controllers/api/Json.java
  src/app/controllers/api/locations.json
  src/app/main/Main.java
  src/app/models/Entity.java
  src/app/models/document/types/DocType.java
  src/app/models/document/types/HabeasCorpusDocType.java
  src/app/models/document/types/PenalDocType.java
  src/app/models/document/types/TutelageDocType.java
  src/test/TestSuite.java
  src/test/controllers/ControllerSuite.java
  src/test/controllers/LocationTest.java
  src/test/controllers/api/JsonTest.java
  src/test/main/SuiteTest.java
  src/test/models/EntityTest.java
  src/test/models/ModelSuite.java
Labels: CI, controllers, core, documentation, models, tests

#41 Partial models for the software
  src/app/controllers/LocationApi.java
  src/app/models/Coordinator.java
  src/app/models/Guest.java
  src/app/models/IdTypes.java
  src/app/models/JudicialOffice.java
  src/app/models/JuridicPerson.java
  src/app/models/NaturalPerson.java
  src/app/models/Person.java
  src/app/models/ProceedingsMetadata.java
  src/app/models/Process.java
  src/app/models/RecordMetadata.java
  src/app/models/Serie.java
  src/app/models/StateEntity.java
  src/app/models/SubSerie.java
  src/app/models/SuperUser.java
  src/app/models/User.java
  src/test/controllers/ControllerSuite.java
  src/test/controllers/LocationApiTest.java
Labels: controllers, core, models, reviewing, tests

#42 Basic models usage closes #3
  docs/diagram.mdj
  final_project.iml
  src/app/main/Main.java
  src/app/models/NaturalPerson.java
  src/app/models/Person.java
  src/app/models/ProceedingsMetadata.java
  src/app/models/RecordMetadata.java
  src/app/models/Series.java
  src/app/views/ProcessView.java
Labels: core, documentation, models, ready, views

#43 Basic models usage closes #3.
  docs/diagram.mdj
  final_project.iml
  package.json
  src/app/controllers/LocationApi.java
  src/app/main/Main.java
  src/app/models/Coordinator.java
  src/app/models/Entity.java
  src/app/models/Guest.java
  src/app/models/IdTypes.java
  src/app/models/JudicialOffice.java
  src/app/models/JuridicPerson.java
  src/app/models/NaturalPerson.java
  src/app/models/Person.java
  src/app/models/ProceedingsMetadata.java
  src/app/models/Process.java
  src/app/models/RecordMetadata.java
  src/app/models/Series.java
  src/app/models/StateEntity.java
  src/app/models/SubSeries.java
  src/app/models/SuperUser.java
  src/app/models/User.java
  src/app/models/document/types/TutelageDocType.java
  src/app/views/ProcessView.java
  src/test/controllers/ControllerSuite.java
  src/test/controllers/LocationApiTest.java
  src/test/main/MainTest.java
  src/test/models/EntityTest.java
Labels: MVP, controllers, core, design, models, tests, views

#44 Test the current controllers
  .ecrc
  build.dockerfile
  docker-compose.yml
  package.json
  src/app/controllers/LocationApi.java
  src/app/controllers/api/Json.java
  src/test/controllers/LocationApiTest.java
  src/test/controllers/api/JsonTest.java
  src/test/models/EntityTest.java
  src/test/models/ModelSuite.java
Labels: CI, controllers, models, tests

#45 Test current controllers.
  .ecrc
  build.dockerfile
  docker-compose.yml
  package.json
  src/app/controllers/LocationApi.java
  src/app/controllers/api/Json.java
  src/app/main/Main.java
  src/app/models/JuridicPerson.java
  src/app/models/NaturalPerson.java
  src/app/models/Person.java
  src/app/models/StateEntity.java
  src/app/views/ProcessView.java
  src/test/controllers/LocationApiTest.java
  src/test/controllers/api/JsonTest.java
  src/test/models/EntityTest.java
  src/test/models/ModelSuite.java
Labels: CI, code style, controllers, core, models, tests, views

#47 Update models connections and relationships.
  docs/diagram.mdj
  src/app/controllers/api/LocationApi.java
  src/app/controllers/document/types/DocType.java
  src/app/controllers/document/types/HabeasCorpusDocType.java
  src/app/controllers/document/types/PenalDocType.java
  src/app/controllers/document/types/TutelageDocType.java
  src/app/models/Entity.java
  src/app/models/JuridicPerson.java
  src/app/models/NoteBook.java
  src/app/models/Process.java
  src/app/models/RecordMetadata.java
  src/app/models/Series.java
  src/app/models/StateEntity.java
  src/app/models/SubSeries.java
  src/app/views/ProcessView.java
  src/test/controllers/ControllerSuite.java
  src/test/controllers/api/LocationApiTest.java
  src/test/main/MainTest.java
Labels: controllers, documentation, models, tests, views

#50 Add gh actions to build on windows
  .github/workflows/java.yml
  src/app/database/tables.sql
Labels: CI
